/*
Theme Name:         Bellevue
Theme URI:          http://themovation.com/bellevue
Author:             Themovation
Author URI:         http://themovation.com
Description:        Bellevue is a premium WordPress theme based on Bootstrap 3.
Version:            1.6.2
Tags: 				two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
License:            Regular License
License URI:        http://themeforest.net/licenses/regular
*/


/*#home-slider #main-flex-slider .slider-bg, section#themo_page_header_1{*/
    /*box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.6);*/
/*}*/


/* Home Tours Overlay */
/*section#themo_tour_1_0, section#themo_tour_1_1, section#themo_tour_1_2, section#themo_tour_1_3, section#themo_html_1, section#themo_tour_2_0, section#themo_tour_2_1, section#themo_tour_2_2{*/
    /*box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.6);*/
/*}*/

html{
    overflow: auto !important;
}

section#themo_tour_1_0, section#themo_tour_2_1{
    text-align: right;
}

section#themo_tour_1_1{
    text-align: left;
}

section#themo_tour_1_2, section#themo_tour_2_2{
    text-align: center;
}

#themo_page_header_1 .page-title-h1, .page-title-h3{
    color: #fcb638 !important;
    text-shadow: 1px 1px 1px black;
}

header.banner.navbar.navbar-default.navbar-static-top.dark-header[data-transparent-header="false"]{
    background-color: #002d40;
}

.gateway-text{
    text-align: center;
}

.suite-rooms{
    text-align: center;
}

.suite-rooms img{
    border-bottom: 5px solid #252B2D;
}

.suite-rooms .wpb_single_image.vc_align_center{
    margin-bottom: 0;
}

.suites-carousel .flexslider .slides img{
    width: 70%;
    margin: 0 auto;
}

.suites-carousel .flexslider{
    box-shadow: none;
    border: none;
}

.suites-carousel .flex-direction-nav .flex-next{
    right: 100px !important;
}

.suites-carousel .flex-direction-nav .flex-prev{
    left: 100px !important;
}

.suites-carousel.wpb_gallery .wpb_flexslider .flex-control-paging{
    display: none;
}

.suites-carousel .wpb_heading.wpb_gallery_heading{
    border-bottom: 4px solid;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.book-call-to-action{
    background: #002d40;
}

.amenities-container h3{
    text-align: center;
    margin: 0 0 15px;
}

.amenities-container .vc_icon_element.vc_icon_element-outer.vc_icon_element-align-center{
    margin: 0;
}

.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-color-juicy_pink .vc_icon_element-icon {
    color: #fcb638 !important;
}

.frm-show-form{
    text-align: center;
}

.wpcf7-form label{
    width: 55%;
    height: 0;
}

.wpcf7-form input[type=text], input[type=email], input[type=url], input[type=password], input[type=number], input[type=tel], textarea{
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 0 15px;
    height: 45px;
    font-weight: 100 !important;
    width: 100%;
}

.wpcf7-form textarea {
    overflow: auto;
    height: 130px !important;
    padding-top: 10px !important;
}

.wpcf7-form-control.wpcf7-submit{
    background: #fcb638;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

div.wpcf7 img.ajax-loader{
    display: none;
}

@media screen and (max-width: 480px) {

    .col-md-4 .quote blockquote.tweet{
        padding: 16px;
        font-size: 19px;
    }

    .wpcf7-form label {
        width: 100%;
    }

    figure.quote {
        padding-bottom: 8px;
    }
}