
.ot-metabox-wrapper .wp-editor-container {border:1px #dedede solid !important}

#setting_themo_template_select_help {display:none}

.checkbox-inline-wrap label {}

.checkbox-inline-wrap .type-checkbox .format-setting-inner p {
	padding-right:10px !important;
	width:auto !important;
}


/* Styling for OT Labels */

/*.format-settings {
	padding:10px 0;
	border-bottom:1px solid #e5e5e5;
}
.format-settings:last-child {border-bottom:0;} */

.format-setting-label,
.option-tree-setting-body .format-settings .label {
	border-bottom:0 !important;
	margin:5px 0 5px !important;
	padding:0 !important;
	width:100%;
}
.option-tree-setting-body .format-settings .label {margin:25px 0 5px !important}

/*.option-tree-setting-body .format-settings {padding:25px 0}*/



/* Hide the Order field by default */

.meta-box-order-wrap {display:none !important}



/* Meta Box Order Drag n Drop Styling */

#themo_sortable li {
	padding:5px 10px 5px;
	background-color:#fafafa;
	border:1px solid #ccc;
	overflow:hidden; 
	position:relative; 
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;	
}

#themo_sortable li:hover {
	border-color:#999;
	-webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.0980392);
	-moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.0980392);
	box-shadow:0px 1px 2px rgba(0, 0, 0, 0.0980392);	
}


#themo_sortable li, #themo_sortable li a, #themo_sortable li label {cursor:move}


/* Hide unused Rooms format options */
.post-type-themo_rooms .post-format-gallery,
.post-type-themo_rooms .post-format-link,
.post-type-themo_rooms .post-format-video,
.post-type-themo_rooms .post-format-audio,
.post-type-themo_rooms #post-format-gallery,
.post-type-themo_rooms #post-format-link,
.post-type-themo_rooms #post-format-video,
.post-type-themo_rooms #post-format-audio,
.post-type-themo_rooms .post-format-quote,
.post-type-themo_rooms #post-format-quote,
.post-type-themo_rooms .post-format-aside,
.post-type-themo_rooms #post-format-aside {display:none}

.post-type-themo_rooms #post-formats-select br {display:none}

.post-type-themo_rooms #post-formats-select label:after {
	content:" ";
	display:block;
}

/* Page Layout / Disable nav section */

#themo_page_layout_meta_box .inside {padding-top:15px}

#themo_page_layout_meta_box .rwmb-label {
	font-weight:bold;
	margin-top:10px;
	margin-bottom:10px;
}


/* General padding for tabbed meta boxes */

.rwmb-tabs-left {
	padding-top:10px;
	padding-bottom:10px;
}


/* Style Meta Box Builder Checkboxes inline */

#themo_meta_box_builder_meta_box .rwmb-input label {
	display:inline-block;
	padding:5px 0 8px;
}


/* Radio button styling */

.rwmb-input label {margin-right:20px}


/* Change size of Image Selects */

.rwmb-field .rwmb-image-select {height:50px}

.rwmb-tab-panel-themo_thumb_slider .rwmb-image-select,
#themo_page_layout_meta_box .rwmb-image-select {height:80px}


/* Override Formidable inline CSS affecting Shortcodes input */

.wp-admin #TB_ajaxContent,
.wp-admin #TB_ajaxContent #su-generator {
	min-height:400px !important;
	max-height:90% !important;
}

#themo_blog_category_meta_box {
    display: none;
}